body {
  background-color: hsl(217, 54%, 11%);
}

h1 {
  display: flex;
  color: hsl(0, 0%, 100%);
}

p {
  color: hsl(215, 32%, 27%);
}

font-family: "Outfit", sans-serif;

.content {
  display: flex;
  justify-content: center;
  background-color: hsl(216, 50%, 16%);
  width: 400px;
  height: 600px;
}

.card {
  width: 300px; /* Define a largura do contêiner da imagem */
  /* Define a altura do contêiner da imagem */
}

.image-container {
  position: relative;
}

.blur-image {
  width: 100%; /* A imagem preenche 100% da largura de seu contêiner */
  transition: filter 0.3s ease-out; /* Suaviza a transição do filtro aplicado à imagem */
}

.overlay {
  position: absolute; /* Posiciona o elemento sobre a imagem */
  top: 0;
  bottom: 0;
  right: 0;
  /* Alinha o topo do elemento com o topo do seu contêiner */
  left: 0; /* Alinha o lado esquerdo do elemento com o lado esquerdo do seu contêiner */
  background: rgba(0, 0, 255, 0.5); /* Fundo azul com transparência */
  transition: background-color 0.3s ease-out; /* Suaviza a transição da cor de fundo */
  display: flex; /* Utiliza Flexbox para alinhar filhos (ícone do olho) */
  align-items: center; /* Centraliza os filhos verticalmente dentro do contêiner */
  justify-content: center; /* Centraliza os filhos horizontalmente dentro do contêiner */
}

.eye-icon {
  width: 50px; /* AJUSTAR */
  height: 50px; /* AJUSTAR */
  background-image: url("images/icon-view.svg"); /* Define a imagem de fundo como o ícone do olho */
  background-size: cover; /* Faz com que a imagem de fundo cubra todo o espaço disponível */
  transition: opacity 0.3s ease-out; /* Suaviza a transição da opacidade */
}

.image-container:hover .blur-image {
  filter: none; /* Remove o filtro de desfoque quando o mouse está sobre o contêiner da imagem */
}

.image-container:hover .overlay {
  background: rgba(
    0,
    0,
    255,
    0
  ); /* Muda a cor de fundo para transparente quando o mouse está sobre o contêiner */
}

.image-container:hover .eye-icon {
  opacity: 0; /* O ícone do olho fica completamente transparente quando o mouse está sobre o contêiner */
}

.info {
  
}

.creator {
}
