body {
  background-color: hsl(217, 54%, 11%);
  font-family: "Outfit", sans-serif;
}

h2{
  display: flex;
  text-align: left;
  color: hsl(0, 0%, 100%);
}

p {
  color: hsl(215, 51%, 70%);
  font-size: 18px;
}

hr {
  width: 100%;
  border-color: hsl(215, 51%, 70%);
}

.container {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 20%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 15px;
  background-color: hsl(216, 50%, 16%);
}

.image-container {
  display: flex;
  align-items: center;
  position: relative;
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 15px;
}

.image-container .blur-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: filter 0.3s ease-out;
  border-radius: 15px;
}

.image-container .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: background-color 0.3s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background: hsla(240, 100%, 50%, 0);
}

.image-container .eye-icon {
  width: 50px;
  height: 50px;
  background-image: url("images/icon-view.svg");
  transition: opacity 0.3s ease-out;
  opacity: 0;
}

.image-container:hover .overlay {
  background: hsla(240, 100%, 50%, 0.5);
}

.image-container:hover .eye-icon {
  opacity: 1;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.ethereum,
.clock {
  display: flex;
  align-items: center;
}

.ethereum p {
  color: hsl(178, 100%, 50%);
}

.ethereum img,
.clock img {
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
}

.avatar {
  border: 1px solid white;
  margin-right: 10px;
  border-radius: 50%;
}

.info,
.content {
  display: flex;
  align-items: center;
}
