body {
  background-color: hsl(217, 54%, 11%);
  font-family: "Outfit", sans-serif;
}

h1 {
  display: flex;
  color: hsl(0, 0%, 100%);
}

p {
  color: hsl(215, 32%, 27%);
}

.container {
  position: absolute;
  display: flex;
  justify-content: center;
  background-color: hsl(216, 50%, 16%);
  width: 20%;
  border-radius: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border-radius: 10px;
}

.image-container {
  position: relative;
  border-radius: 15px;
}

.image-container .blur-image {
  width: 100%;
  transition: filter 0.3s ease-out;
  border-radius: 15px;
}

.image-container .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: background-color 0.3s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px; /* Ajuste o raio do border-radius para coincidir com o da image-container */
  background: rgba(0, 0, 255, 0); /* Fundo inicialmente transparente */
}

.image-container .eye-icon {
  width: 50px;
  height: 50px;
  background-image: url("images/icon-view.svg");
  transition: opacity 0.3s ease-out;
  opacity: 0; /* Ícone do olho inicialmente transparente */
}

.image-container:hover .overlay {
  background: rgba(
    0,
    0,
    255,
    0.5
  ); /* Adiciona a cor de fundo azul com transparência ao passar o mouse */
}

.image-container:hover .eye-icon {
  opacity: 1; /* Torna o ícone do olho visível ao passar o mouse */
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.creator {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.creator img {
  border: 1px solid white;
  border-radius: 50%;
}
